version: "3.9"
volumes:
  #This stores the state of openbis, including logs
  openbis-state:
  store:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: './store'


networks:
  local:
    driver: bridge


secrets:
  openbis_password:
    file: ./services/openbis/openbis_password.txt


services:
  #Openbis
  openbis:
    build:
      context: ./openbis
      dockerfile: Dockerfile
    environment:
      #Here you can configure some openbis options for the AS
      - SERVER_HOST_PORT=${OPENBIS_HOST}:${OPENBIS_PORT}
      - GROUP_ID=1000
      - USER_ID=1000
      - ADMIN_PASSWORD=${OPENBIS_PASSWORD}
      #Enable the basic plugins
      - CORE_PLUGINS=enabled-modules = dataset-uploader, dataset-file-search, xls-import, eln-lims, openbis-ng-ui, search-store, user-management-maintenance, empa
    volumes:
      - openbis-state:/home/openbis/openbis_state/
      - ./openbis/src:/home/openbis/openbis_state/core-plugins/empa/1/dss/drop-boxes/
      - store:${DSS_PATH}
      - ./dss_logs/:/home/openbis/openbis_state/dss_logs/
    ports:
      - ${OPENBIS_PORT}:443
      - 8080:8080
      - 8081:8081
    networks:
      - local
    healthcheck:
      test: ["CMD", "./check_health.sh", "https://openbis:443/"]
      interval: 3s
      timeout: 1s
      retries: 10
  #Initialiser
  initialiser:
    build:
      context: ./initialiser
      dockerfile: Dockerfile
    environment:
      - OPENBIS_URL=https://openbis:443
      - OPENBIS_USER=${OPENBIS_USER}
      - OPENBIS_PASSWORD=${OPENBIS_PASSWORD}
    volumes:
      - ./initialiser/initialise_masterdata.py:/initialise_masterdata.py
    depends_on:
      openbis:
        condition: service_healthy
    networks:
      - local
