version: "3.9"
volumes:
  #This stores the state of openbis, including logs
  openbis-state:
  store:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: './store'
networks:
  local:
    driver: bridge

services:
  #Openbis
  openbis:
    build: 
      context: .
      dockerfile: Dockerfile
    environment:
      #Here you can configure some openbis options for the AS
      - SERVER_HOST_PORT=localhost:8080
      - HOSTNAME=localhost:8444
      - GROUP_ID=1000
      #Enable the basic plugins
      - CORE_PLUGINS=enabled-modules = dataset-uploader, dataset-file-search, xls-import, eln-lims, openbis-ng-ui, search-store, user-management-maintenance, empa
    volumes:
      #External configuration files
      # - type: bind
      #   source: ./services/openbis/as_service.properties
      #   target: /home/openbis/openbis_state/as_etc/service.properties
      #Openbis state

      - openbis-state:/home/openbis/openbis_state/
      - ./src:/home/openbis/openbis_state/core-plugins/empa/1/dss/drop-boxes/
      - store:/home/openbis/openbis_state/dss_store

    ports:
      - 8443:443
      - 8444:8080
    hostname: openbis
    healthcheck:
      test: [ "CMD", "curl", "openbis:443" ]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s
    networks:
      - local
  